html {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  background: url(../images/admin/body_bj.jpg);
  padding: 10px;
  font-family: Microsoft Yahei; }

#top_nav h1 {
  border-bottom: 1px solid #ccc;
  color: #333;
  font-weight: normal;
  padding: 0px 10px;
  margin: 0 0 10px 0;
  overflow: hidden; }
  #top_nav h1 a {
    color: #333;
    text-decoration: none;
    font-size: 18px; }
  #top_nav h1 .manageCenter {
    color: #4c4c4c;
    font-size: 18px;
    font-weight: normal; }
  #top_nav h1 .help {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px; }
  #top_nav h1 .addGoods a {
    float: right;
    height: 26px;
    line-height: 26px;
    padding: 0 10px 0 23px;
    background: #c43926 url(../images/admin/icon_add02.gif) no-repeat 6px center;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    margin-top: 12px; }

#wrap {
  background: #f3f3f3;
  border: 1px solid #d7d7d7;
  margin: 0 0 10px 0;
  padding: 1px; }
  #wrap ul {
    margin: 0px;
    background: #efefef;
    padding-left: 10px;
    height: 39px;
    padding-top: 2px; }
    #wrap ul li {
      padding: 0 20px;
      text-align: center;
      font-size: 13px;
      float: left;
      display: block;
      float: left;
      color: #787878;
      line-height: 39px;
      cursor: pointer; }
    #wrap ul li:nth-of-type(1) {
      background: #fff; }
  #wrap .content {
    padding: 10px;
    background: #fefefe;
    color: #192E32;
    font: 12px Microsoft Yahei, "sans-serif", "Arial", "Verdana"; }
    #wrap .content form div p {
      margin: 0;
      display: inline-block; }
      #wrap .content form div p input {
        vertical-align: middle;
        margin: 5px 0; }
      #wrap .content form div p span {
        font: 12px Microsoft Yahei, "sans-serif", "Arial", "Verdana";
        color: #666; }
      #wrap .content form div p select {
        vertical-align: middle;
        margin: 5px 0; }
      #wrap .content form div p a {
        margin: 0 5px;
        padding: 1px 5px;
        border: 1px solid #91C4D0;
        border-right: 2px solid #278296;
        border-bottom: 2px solid #278296;
        background: #DDEEF2;
        text-decoration: none;
        font-weight: 400; }
        #wrap .content form div p a img {
          vertical-align: middle;
          margin-right: 4px; }
      #wrap .content form div p i {
        font-style: normal; }
      #wrap .content form div p .help, #wrap .content form div p .plus {
        background: none;
        border: none;
        padding: 0; }
      #wrap .content form div p .redBtn {
        padding: 5px 15px 5px;
        margin: 2px 2px;
        border: none;
        background: #ff3f3f;
        color: #FFF;
        cursor: pointer;
        border-radius: 3px; }
    #wrap .content form div p:nth-of-type(1) {
      text-align: right;
      vertical-align: top;
      font-weight: bold;
      padding: 5px 1em;
      width: 30%;
      line-height: 30px; }
    #wrap .content form div p:nth-of-type(2) {
      vertical-align: top;
      padding: 5px 1em;
      line-height: 30px; }
    #wrap .content form .confirm {
      text-align: center;
      padding: 3px 0; }
    #wrap .content form .redBtn {
      padding: 5px 15px 5px;
      margin: 2px 2px;
      border: none;
      background: #ff3f3f;
      color: #FFF;
      cursor: pointer;
      border-radius: 3px; }
    #wrap .content form .commonInfo {
      display: block;
      width: 90%;
      margin: 0 auto; }
      #wrap .content form .commonInfo .proPay p input {
        width: 23px; }
    #wrap .content form .detialInfo {
    	width: 90%;
      margin: 0 auto;
      display: none; }
      #wrap .content form .detialInfo textarea {
        width: 100%;
        height: 200px;
        margin: 0 auto; }
    #wrap .content form .otherInfo {
    	width: 90%;
      margin: 0 auto;
      display: none; }
    #wrap .content form .goodsAttribute {
    	width: 90%;
      margin: 0 auto;
      display: none; }
      #wrap .content form .goodsPhoto {
      	width: 90%;
      margin: 0 auto;
      	display: none;
      }
    #wrap .content form .goodsPhoto p {
      width: 100% !important;
      text-align: center !important;
      font-weight: normal !important;
      margin: 0; }
      #wrap .content form .goodsPhoto p a {
        color: #335B64;
        text-decoration: none; }

#footer {
  background: #f3f3f3 url(../images/admin/th_bg.gif) repeat-x;
  border: 1px solid #ddd;
  padding: 15px;
  color: #9CACAF;
  margin: 10px 0;
  text-align: center;
  font: 12px Microsoft Yahei, "sans-serif", "Arial", "Verdana"; }

/*# sourceMappingURL=frame_main_addGoods.css.map */
